---
layout: default
---
<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 class="title">{{ page.title }}</h1>
    <p class="meta">
    {{ page.date | date: "%B %-d, %Y" }}
    {% if page.author %} - {{ page.author }}{% endif %}
    </p>
  </header>
  <section class="post-content">{{ content }}</section>
  <div>
    Share this on &rarr; 
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.theme.twitter }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a>
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a>
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">Google+</a>
</div>
</article>
<!-- Post navigation -->
{% if site.theme.post_navigation %}
<div id="post-nav">
    {% if page.previous.url %}
    <a id="prev-post" href="{{ site.baseurl }}{{ page.previous.url }}">
      <span class="page-title">{{ page.previous.title }}</span>
      <span class="nav-label">
        <i class="fa fa-chevron-left"></i> {{ site.theme.str_prev }}
      </span>
    </a>
    {% endif %}
    {% if page.next.url %}
    <a id="next-post" href="{{ site.baseurl }}{{ page.next.url }}">
       <span class="page-title">{{ page.next.title }}</span>
       <span class="nav-label">
        {{ site.theme.str_next }} <i class="fa fa-chevron-right"></i>
       </span>
     </a>
    {% endif %}
</div>
{% endif %}

<!-- Disqus -->
{% if site.theme.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}
